<div style="text-align: center">
    <h1 style="font-size:64px">Welcome, <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Ally_Bank_logo.svg/200px-Ally_Bank_logo.svg.png"> Team!</h1>
    <h3>Click below to view today's credit risk limits.</h3>
    <br />
    <div>
        <a asp-action="Index" asp-controller="Limits"><button class="btn btn-primary" style="background: #855880">View Limits</button></a>
    </div>
</div>